.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido-imagen {
  background-image: url(../../assets/img/foto.png);
  background-repeat: none;
  background-size: cover;
  filter: grayscale(100%);
  border: 10px solid black;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  transition: all 0.5s ease-in-out;
}

.contenido-imagen:hover {
  filter: grayscale(0);
}

.contenedorHome {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 100%;

  color: #d7dae3;
  margin-bottom: 80px;
}

.textoHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  color: #f70838;
}

/* color: #d7dae3; */

.nombre {
  font-size: 50px;
  color: white;
}

.nombreProfesion {
  font-size: 40px;
}
p {
  font-size: 20px;
  letter-spacing: 1px;
}
