.contenido-proyecto {
  text-align: center;
}

.contenido-proyecto .titulo h2 {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 50px;
}

/* .proyectosHtmlCssBootstrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
}
.proyectosHtmlCssBootstrapJavascript {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
}
.proyectosReactJs {
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 30px;
} */

.proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 30px auto 0px auto;
}

.proyecto-item {
  position: relative;
  border: none;
  border-radius: 15px;
}
.contenedorDeProyectos h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  color: #ff7e00;
  border: 2px solid #555161;
  padding: 20px;
}

/* imagenes de los proyectos en background */
/* ================================================== */

.proyecto-imagen1 {
  border: none;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-image: url("../../assets/img/tiendamuebles.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}

.proyecto-imagen2 {
  border: none;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-image: url("../../assets/img/itcapture.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}

.proyecto-imagen3 {
  border: none;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-image: url("../../assets/img/portafolio.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}
.proyecto-imagen4 {
  border: none;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  background-image: url("../../assets/img/coderfilm.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}
.proyecto-imagen5 {
  border: none;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-image: url("../../assets/img/portafolio.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}
.proyecto-imagen6 {
  border: none;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  background-image: url("../../assets/img/portafolio.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}

/* ========================================================= */

.hover-proyecto-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  opacity: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.proyecto-item .hover-proyecto-item:hover {
  opacity: 0.8;
  background-color: #f70838;
}

.hover-proyecto-item h3 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 15px;
}

.proyecto-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyecto-icons .icon {
  background-color: #202020;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 10px;
  transition: all 0.4s ease-in-out;
}

.proyecto-icons .icon i {
  font-size: 30px;
  color: white;
}

.proyecto-icons .icon i:hover {
  color: #f70838;
}
.proyecto-icons .icon:hover {
  background-color: white;
}

@media (max-width: 450px) {
  .proyectos {
    grid-template-columns: 1fr;
  }

  .proyecto-imagen1 {
    height: 150px;
  }

  .proyecto-imagen2 {
    height: 150px;
  }

  .proyecto-imagen3 {
    height: 150px;
  }
  .proyecto-imagen4 {
    height: 150px;
  }
  .proyecto-imagen5 {
    height: 150pxpx;
  }
  .proyecto-imagen6 {
    height: 150px;
  }
}
@media (max-width: 600px) {
  .proyectos {
    grid-template-columns: 1fr;
  }

  .proyecto-imagen1 {
    height: 200px;
  }

  .proyecto-imagen2 {
    height: 150px;
  }

  .proyecto-imagen3 {
    height: 150px;
  }
  .proyecto-imagen4 {
    height: 150px;
  }
  .proyecto-imagen5 {
    height: 150px;
  }
  .proyecto-imagen6 {
    height: 150px;
  }
}

@media (min-width: 600px) and (max-width: 786px) {
  .proyectos {
    grid-template-columns: 1fr;
  }

  .proyecto-imagen1 {
    height: 270px;
  }

  .proyecto-imagen2 {
    height: 270px;
  }

  .proyecto-imagen3 {
    height: 270px;
  }
  .proyecto-imagen4 {
    height: 270px;
  }
  .proyecto-imagen5 {
    height: 270px;
  }
  .proyecto-imagen6 {
    height: 270px;
  }
}

@media (min-width: 786px) {
  .proyectos {
    grid-template-columns: 1fr 1fr;
  }

  .proyecto-imagen1 {
    height: 250px;
  }

  .proyecto-imagen2 {
    height: 250px;
  }

  .proyecto-imagen3 {
    height: 250px;
  }
  .proyecto-imagen4 {
    height: 250px;
  }
  .proyecto-imagen5 {
    height: 250px;
  }
  .proyecto-imagen6 {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .proyectos {
    grid-template-columns: 1fr 1fr;
  }

  .proyecto-imagen1 {
    height: 250px;
  }

  .proyecto-imagen2 {
    height: 250px;
  }

  .proyecto-imagen3 {
    height: 250px;
  }
  .proyecto-imagen4 {
    height: 250px;
  }
  .proyecto-imagen5 {
    height: 250px;
  }
  .proyecto-imagen6 {
    height: 250px;
  }
}
