.div-form {
  width: 100%;
}

.contenedor-principal {
  display: grid;
  grid-template-columns: 33.33% 60.66%;
  width: 100%;
  gap: 2px;
}

.titulo-form {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
}

.contenido-info {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subcontenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  padding: 30px;
  margin: 20px;
  background-color: #37353f;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
}

.contenido-info .subcontenido i {
  color: #f70838;
  font-size: 25px;
  margin-bottom: 20px;
}
.contenido-info .subcontenido p {
  color: #d7dae3;
  font-size: 15px;
}

.contenido-formulario {
  width: 100%;
  height: 450px;
  background-color: #37353f;
  box-shadow: 13px 13px 16px -3px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  padding: 20px;
}

.form-mail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contenido-input-principal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}

/* .contenido_input {
  margin-bottom: 10px;
} */

.contenido_input label {
  font-size: 20px;
  background-color: #202020;
}

.contenido_input label input {
  background-color: #202020;
  border: transparent;
  color: #d7dae3;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}

.contenido_input_texarea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #202020; */
  border-radius: 10px;
}

.contenido_input_texarea label {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contenido_input_texarea textarea {
  background-color: #202020;
  border-radius: 10px;
  /* border: transparent; */
  color: #d7dae3;
  padding: 20px;
  font-size: 15px;
  width: 100%;
}

.contenido-boton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contenido-boton button {
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #ff7e00;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #d7dae3;
}

.contenido-boton button i {
  margin-left: 20px;
}

/* Estilos de errors */

.error {
  margin-top: 10px;
  color: #f70838;
  font-size: 12px;
}

.contenido-error {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.exito {
  font-size: 12px;
  background-color: #202020;
  color: green;
  text-align: center;
  border: green 1px solid;
  border-radius: 10px;
  padding: 10px;
}
.comodin {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .contenido-info .subcontenido p {
    font-size: 13px;
  }

  .contenido_input label input {
    font-size: 13px;
  }

  .contenido_input_texarea textarea {
    font-size: 13px;
  }
}

@media (max-width: 786px) {
  .contenido-info .subcontenido p {
    font-size: 11px;
  }

  .contenido_input label input {
    font-size: 12px;
  }

  .contenido_input_texarea textarea {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .contenedor-principal {
    display: flex;
    flex-direction: column;
  }

  .contenido-info {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 10px;
  }

  .subcontenido {
    height: 100px;
    padding: 10px;
    margin: 0px 5px;
  }

  .contenido-info .subcontenido p {
    font-size: 11px;
  }

  .contenido_input label input {
    font-size: 15px;
  }

  .contenido_input_texarea textarea {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .contenido-info {
    flex-direction: column;
  }

  .subcontenido {
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
  }

  .contenido-info .subcontenido p {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .contenido_input label input {
    font-size: 12px;
  }

  .contenido_input_texarea textarea {
    font-size: 13px;
  }
}
